doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  // Tell the browser to be responsive to screen width
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='author' content='')
  // Favicon icon
  link(rel='icon' type='image/png' sizes='16x16' href='../../assets/images/favicon.png')
  title Nice admin Template - The Ultimate Multipurpose admin template
  // Custom CSS
  link(href='../../dist/css/style.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
// ==============================================================
// Preloader - style you can find in spinners.css
// ==============================================================
.preloader
  .lds-ripple
    .lds-pos
    .lds-pos
// ==============================================================
// Main wrapper - style you can find in pages.scss
// ==============================================================
#main-wrapper(data-navbarbg='skin6' data-theme='light' data-layout='vertical' data-sidebartype='full' data-boxed-layout='full')
  // ==============================================================
  // Topbar header - style you can find in pages.scss
  // ==============================================================
  header.topbar(data-navbarbg='skin6')
    nav.navbar.top-navbar.navbar-expand-md.navbar-light
      .navbar-header(data-logobg='skin5')
        // This is for the sidebar toggle which is visible on mobile only
        a.nav-toggler.waves-effect.waves-light.d-block.d-md-none(href='javascript:void(0)')
          i.ti-menu.ti-close
        // ==============================================================
        // Logo
        // ==============================================================
        .navbar-brand
          a.logo(href='index.html')
            // Logo icon
            b.logo-icon
              // You can put here icon as well // <i class="wi wi-sunset"></i> //
              // Dark Logo icon
              img.dark-logo(src='../../assets/images/logo-icon.png' alt='homepage')
              // Light Logo icon
              img.light-logo(src='../../assets/images/logo-light-icon.png' alt='homepage')
            // End Logo icon
            // Logo text
            span.logo-text
              // dark Logo text
              img.dark-logo(src='../../assets/images/logo-text.png' alt='homepage')
              // Light Logo text
              img.light-logo(src='../../assets/images/logo-light-text.png' alt='homepage')
        // ==============================================================
        // End Logo
        // ==============================================================
        // ==============================================================
        // Toggle which is visible on mobile only
        // ==============================================================
        a.topbartoggler.d-block.d-md-none.waves-effect.waves-light(href='javascript:void(0)' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          i.ti-more
      // ==============================================================
      // End Logo
      // ==============================================================
      #navbarSupportedContent.navbar-collapse.collapse(data-navbarbg='skin6')
        // ==============================================================
        // toggle and nav items
        // ==============================================================
        ul.navbar-nav.float-left.mr-auto
          // ==============================================================
          // Search
          // ==============================================================
          li.nav-item.search-box
            a.nav-link.waves-effect.waves-dark(href='javascript:void(0)')
              .d-flex.align-items-center
                i.mdi.mdi-magnify.font-20.mr-1
                .ml-1.d-none.d-sm-block
                  span Search
            form.app-search.position-absolute
              input.form-control(type='text' placeholder='Search & enter')
              a.srh-btn
                i.ti-close
        // ==============================================================
        // Right side toggle and nav items
        // ==============================================================
        ul.navbar-nav.float-right
          // ==============================================================
          // User profile and search
          // ==============================================================
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle.text-muted.waves-effect.waves-dark.pro-pic(href='' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              img.rounded-circle(src='../../assets/images/users/1.jpg' alt='user' width='31')
            .dropdown-menu.dropdown-menu-right.user-dd.animated
              a.dropdown-item(href='javascript:void(0)')
                i.ti-user.m-r-5.m-l-5
                |  My Profile
              a.dropdown-item(href='javascript:void(0)')
                i.ti-wallet.m-r-5.m-l-5
                |  My Balance
              a.dropdown-item(href='javascript:void(0)')
                i.ti-email.m-r-5.m-l-5
                |  Inbox
          // ==============================================================
          // User profile and search
          // ==============================================================
  // ==============================================================
  // End Topbar header
  // ==============================================================
  // ==============================================================
  // Left Sidebar - style you can find in sidebar.scss
  // ==============================================================
  aside.left-sidebar(data-sidebarbg='skin5')
    // Sidebar scroll
    .scroll-sidebar
      // Sidebar navigation
      nav.sidebar-nav
        ul#sidebarnav
          li.sidebar-item
            a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='index.html' aria-expanded='false')
              i.mdi.mdi-av-timer
              span.hide-menu Dashboard
          li.sidebar-item
            a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='pages-profile.html' aria-expanded='false')
              i.mdi.mdi-account-network
              span.hide-menu Profile
          li.sidebar-item
            a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='payments.html' aria-expanded='false')
              i.fa.fa-credit-card
              span.hide-menu Payments
          li.sidebar-item
            a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='bookings.html' aria-expanded='false')
              i.fa.fa-ticket(aria-hidden='true')
              span.hide-menu Bookings
      // End Sidebar navigation
    // End Sidebar scroll
  // End Left Sidebar - style you can find in sidebar.scss
  // ==============================================================
  // ==============================================================
  // Page wrapper
  // ==============================================================
  .page-wrapper
    // ==============================================================
    // Bread crumb and right sidebar toggle
    // ==============================================================
    .page-breadcrumb
      .row
        .col-5.align-self-center
          h4.page-title Profile
        .col-7.align-self-center
          .d-flex.align-items-center.justify-content-end
            nav(aria-label='breadcrumb')
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') Profile
    // ==============================================================
    // End Bread crumb and right sidebar toggle
    // ==============================================================
    // ==============================================================
    // Container fluid
    // ==============================================================
    .container-fluid
      // ==============================================================
      // Start Page Content
      // ==============================================================
      // Row
      .row
        // Column
        .col-lg-4.col-xlg-3.col-md-5
          .card
            .card-body
              center.m-t-30
                img.rounded-circle(src='../../assets/images/users/5.jpg' width='150')
                h4.card-title.m-t-10 #{name}
                h6.card-subtitle #{companyname}
                .row.text-center.justify-content-md-center
                  .col-4
                    a.link(href='javascript:void(0)')
                      i.icon-people
                      font.font-medium 254
                  .col-4
                    a.link(href='javascript:void(0)')
                      i.icon-picture
                      font.font-medium 54
            div
              hr
            .card-body
              small.text-muted Email address 
              h6 #{email}
              small.text-muted.p-t-30.db Phone
              h6 #{phonenumber}
              small.text-muted.p-t-30.db Address
              h6 #{address}
              .map-box
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508' width='100%' height='150' frameborder='0' style='border:0' allowfullscreen='')
              small.text-muted.p-t-30.db Social Profile
              br
              button.btn.btn-circle.btn-secondary
                i.mdi.mdi-facebook
              button.btn.btn-circle.btn-secondary
                i.mdi.mdi-twitter
              button.btn.btn-circle.btn-secondary
                i.mdi.mdi-youtube-play
        // Column
        // Column
        .col-lg-8.col-xlg-9.col-md-7
          .card
            .card-body
              form.form-horizontal.form-material
                .form-group
                  label.col-md-12 Full Name
                  .col-md-12
                    input.form-control.form-control-line(type='text' placeholder='Johnathan Doe')
                .form-group
                  label.col-md-12(for='example-email') Email
                  .col-md-12
                    input#example-email.form-control.form-control-line(type='email' placeholder='johnathan@admin.com' name='example-email')
                .form-group
                  label.col-md-12 Password
                  .col-md-12
                    input.form-control.form-control-line(type='password' value='password')
                .form-group
                  label.col-md-12 Phone No
                  .col-md-12
                    input.form-control.form-control-line(type='text' placeholder='123 456 7890')
                .form-group
                  label.col-md-12 Message
                  .col-md-12
                    textarea.form-control.form-control-line(rows='5')
                .form-group
                  label.col-sm-12 Select Country
                  .col-sm-12
                    select.form-control.form-control-line
                      option London
                      option India
                      option Usa
                      option Canada
                      option Thailand
                .form-group
                  .col-sm-12
                    button.btn.btn-success Update Profile
        // Column
      // Row
      // ==============================================================
      // End PAge Content
      // ==============================================================
      // ==============================================================
      // Right sidebar
      // ==============================================================
      // .right-sidebar
      // ==============================================================
      // End Right sidebar
      // ==============================================================
    // ==============================================================
    // End Container fluid
    // ==============================================================
    // ==============================================================
    // footer
    // ==============================================================
    footer.footer.text-center
      | All Rights Reserved by Nice admin. Designed and Developed by
      a(href='https://wrappixel.com') WrapPixel
      | .
    // ==============================================================
    // End footer
    // ==============================================================
  // ==============================================================
  // End Page wrapper
  // ==============================================================
// ==============================================================
// End Wrapper
// ==============================================================
// ==============================================================
// All Jquery
// ==============================================================
script(src='../../assets/libs/jquery/dist/jquery.min.js')
// Bootstrap tether Core JavaScript
script(src='../../assets/libs/popper.js/dist/umd/popper.min.js')
script(src='../../assets/libs/bootstrap/dist/js/bootstrap.min.js')
// slimscrollbar scrollbar JavaScript
script(src='../../assets/extra-libs/sparkline/sparkline.js')
// Wave Effects
script(src='../../dist/js/waves.js')
// Menu sidebar
script(src='../../dist/js/sidebarmenu.js')
// Custom JavaScript
script(src='../../dist/js/custom.min.js')
